/* COLORS -----------------------------------------------------------*/
$preto: #555555;
$branco: #fff;

/* FONTS -----------------------------------------------------------*/
$font-title: 'Bree Serif', serif;;
$font-subtitle: 'Bree Serif', sans-serif;
$font-default:'Open Sans', sans-serif;
$font-especial: 'Kaushan Script', cursive;
$font-icon: "Material Design Icons";

/* VARIABLES -----------------------------------------------------------*/
$shadow: 1px 1px 3px $preto;
$text-color: $preto;
$link-color: $preto;
$link-color-hover: $branco;

// MDI Fonts
$mdi-font-path: "libs/mdi/fonts" !default;

